{% extends 'base.html.twig' %} {% block body %}
<div class="wrapper">
    <div class="container">
        {% for raza in razas %}
        <div class="media">
            <img class="align-self-center mr-3" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Gato_irritado.jpg" width="10%">
            <div class="media-body">
                <h5 class="mt-0">{{ raza.name }}</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
                    vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                    Donec lacinia congue felis in faucibus.</p>
                <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}